body {
  padding: 10px;
}
.main {
  position: relative;
  margin: 0 auto;
}
.main > form > .field > .location-wrapper {
  display: flex;
}
.main > form > .field > .location-wrapper > div:first-child {
  flex: 1;
  margin-right: 10px;
}
.main > form > .field > .cards {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main > form > .field > .cards > a.card > .content > .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main > form > .field > .no-template {
  height: 200px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 20px 0;
}
div.sdk-path > .sdk-win {
  width: 100%;
  min-height: 350px;
  border: none;
}
